:root{
   --base-color:rgb(0,0,0);
   --text-color:rgb(255,255,255);
}

header{
   background-color: white;
   opacity: 100 ;
}
body {
   background-color: var(--base-color);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div{
   display:flex;
   justify-content: space-evenly;
   background-color:grey;
}

h1 {
   border: 2px solid deepskyblue;
   background-color:bisque;
   padding: 10px;
}
h2, li>h2{
   border:1px solid deepskyblue;
   background-color: bisque;
   opacity: 80;
   color: var(--base-color);
   padding: 5px;
}
p, ul, ol, li,map, area{
   color: var(--text-color);
}
.fixed-box>a{
   position:fixed;
   bottom: 20px;
   right: 20px;
   background-color: var(--text-color);
   color: var(--base-color);
}

.discription{
   float:left;
   background-color:red;
   color:blue;}
.im_next{
   float:right;
   background-color:blue;
   color:red;
}
a:hover{
  color: lightgray
}
section{
   background-color: white;
}
section p{
   color:var(--base-color);
}
footer>p{
   background-color: aqua;
   color: var(--base-color);
}

